*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   position: relative;
   border-radius: 0px;
   font-family: inherit;
   letter-spacing:.0px;
}

body{
   min-height: 100vh;
   background: var(--global_background);
}

button{
   background: var(--button_background);
   border: none;
   border-radius: 4px;
   cursor:pointer !important;
}

.hidden{
   display:none;
}