.page_actions_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px 0 0 0;
    overflow-y: auto;
    
    height: fit-content;
    max-height: calc(100vh - 20px);
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;

    border-radius: 4px;
    z-index: 9000;
}

.page_actions_button {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    z-index: 10000;
    margin: 10px 0 0 0;
}

.page_actions_button_active {
    background: var(--button_active);
}

.page_actions_button_unactive {}

.page_actions_action_buttons_container {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: fit-content;
    overflow: auto;
    border-radius: 4px;
    z-index: 9000;
    background: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .15);
}

.page_action_button {
    height: 35px;
    width: 35px;
    border-radius: 4px;
    z-index: 10000; 
}