
article {
   max-width: 65ch;
   min-width: 360px;
   width: 72ch;
   margin: 2rem auto;
   padding: 0 1rem;
}

.author-meta { 
   color: #aaa; 
   margin-bottom: 2rem; 
   font-size: 0.9rem;
   padding: 0 10px;
}

h1 {
   padding: 0 10px;
}

section {
   border: solid 1px #fafafa;
   margin: 0 10px 20px 10px;
   padding: 10px 15px;
   box-shadow: 5px 5px 15px rgba(0,0,0,.15);
}

.main-verse { 
   font-style: italic; 
   border-left: 4px solid #757575; 
   padding-left: 1rem; 
   margin: 1.5rem 0; 
   color: #ddd; 
   background: #2a2a2a; 
   padding: 1rem; 
   border: solid 1px #fafafa;
}

.bible-quote { 
   color: var(--accent_color_01);
   margin: 1rem 0;
}

.biblical_quote_reference {
   display: block;
   margin: 15px 0 0 auto;
   width:100%;
   text-align:right;
   font-size:.8rem;
   
}

h2 {
   margin-bottom: 1rem; 
   color: var(--accent_color_01);
   border-bottom: solid 1px #fafafa !important;
   padding: 0 0 10px 0;
}

p { 
   margin-bottom: 1rem;
   line-height: 1.35; 
}

.video-container { 
   margin: 2rem 0; 
   width: 100%; 
   aspect-ratio: 16 / 9; 
}

.video-container iframe { 
   width: 100%; 
   height: 100%; 
}

strong {
   font-weight:700 !important;
   text-decoration: underline;
}
 