.page_actions_button{
    background: #fff;
    height: 35px;
    width: 35px;
    border-radius: 100px;
}
.page_actions_main_container{
    display: none;
    gap: 25px;
    height:100vh;
    overflow: auto;
    width: 70vw;
    position: absolute;
    top:0;
    right:0;
    z-index: 10000;
    background: #fff;
}
.page_action_button{
    
}